<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>845650441469-p88ln0jucdmcn7j2sai806b0vog7e98e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.845650441469-p88ln0jucdmcn7j2sai806b0vog7e98e</string>
	<key>API_KEY</key>
	<string>AIzaSyB5hvlWkgaPJj13eLm97-PFHgG801XRzfY</string>
	<key>GCM_SENDER_ID</key>
	<string>845650441469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jumbo.s7AsmJumboProject</string>
	<key>PROJECT_ID</key>
	<string>ar-jumbo</string>
	<key>STORAGE_BUCKET</key>
	<string>ar-jumbo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845650441469:ios:a7b5c48eb122068dde7a94</string>
	<key>DATABASE_URL</key>
	<string>https://ar-jumbo-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>